{% extends "web/base.html" %}

{% block main_content %}
    <section id="promo" class="section alt">
        <div class="container">
            {% include "web/elements/blockquote.html" %}
        </div>
    </section>

    {% with "True" as bq_small %}
    <section class="section">
        <div class="container">
            <div class="page-header">
                <h1>
                    What other client said?
                </h1>
            </div>
            <div class="row-fluid">
                {% include "web/elements/blockquote.html" %}
                {% include "web/elements/blockquote.html" %}
            </div>
            <hr>
            <div class="row-fluid">
                {% include "web/elements/blockquote.html" %}
                {% include "web/elements/blockquote.html" %}
            </div>
        </div>
    </section>
    {% endwith %}
{% endblock %}
