{% load webdesign %}
<div class="sidebar-widget">
    <h2 class="sidebar-header">{{ list_title }}</h2>
    <ul class="unstyled">
        <li>
            <h4><a href="#">{% lorem 3 w random %}</a></h4>
            <p><small>November 12, 2012</small></p>
        </li>
        <li>
            <h4><a href="#">{% lorem 3 w random %}</a></h4>
            <p><small>August 23, 2012</small></p>
        </li>
        <li>
            <h4><a href="#">{% lorem 3 w random %}</a></h4>
            <p><small>June 28, 2011</small></p>
        </li>
        <li>
            <h4><a href="#">{% lorem 3 w random %}</a></h4>
            <p><small>June 25, 2011</small></p>
        </li>
        <li>
            <h4><a href="#">{% lorem 3 w random %}</a></h4>
            <p><small>June 22, 2011</small></p>
        </li>
    </ul>
</div>
