{% load webdesign %}
<article class="blog-post">
    <header class="blog-header">
        <h2>
            {% lorem 3 w random %} <small>by <a href="#">John Doe</a>, 12 Sep 2012.</small>
        </h2>
    </header>
    <figure class="thumbnail-figure">
        <!--a href="post.html"><img src="{{ STATIC_URL }}kicktheme/img/assets/people1-870x300.jpeg" alt=""></a-->
        <a href="{% url web:blogpost forloop.revcounter %}"><img src="/extmedia/d/870/300/sports/{{ forloop.revcounter }}/" alt=""></a>
        <figcaption class="thumbnail-title">
            <h3><span>{% lorem 3 w random %}</span></h3>
        </figcaption>
    </figure>
    <p>
        {% lorem 2 p random %}
    </p>    <footer class="blog-footer row-fluid">
        <div class="span4 blog-categories">
            <i class="icon-pushpin"></i> <a href="#"> consectetur</a>
        </div>
        <div class="span4 blog-tags">
            <i class="icon-tags"></i> <a href="#"> fugiat, nulla, pariatur</a>
        </div>
        <div class="span4 blog-more">
            <i class="icon-link"></i> <a href="post.html"> read more</a>
        </div>
    </footer>
</article>
