{% load webdesign %}
<article class="blog-post">
    <header class="blog-header">
        <h2>
            {% lorem 3 w random %} <small>by <a href="#">{% lorem 2 w random %}</a>, 12 Nov 2012.</small>
        </h2>
    </header>
    {% if figure %}
    <figure class="thumbnail-figure">
        <a href="post.html">
            <img src="{{ STATIC_URL }}smartbiz/img/assets/city1-870x300.jpeg" alt="">
        </a>
        <figcaption class="thumbnail-title">
            <h3>
                <span>Lorem ipsum dolor sit amet</span>
            </h3>
        </figcaption>
    </figure>
    {% endif %}
    <p>{% lorem 1 p random %}</p>
    <p>{% lorem 1 p random %}</p>
    <p>{% lorem 1 p random %}</p>
    {% if blog_footer %}
    <footer class="blog-footer row-fluid">
        <div class="span4 blog-categories">
            <i class="icon-pushpin"></i> <a href="#"> consectetur</a>
        </div>
        <div class="span4 blog-tags">
            <i class="icon-tags"></i> <a href="#"> fugiat, nulla, pariatur</a>
        </div>
        <div class="span4 blog-more">
            <i class="icon-link"></i> <a href="post.html"> read more</a>
        </div>
    </footer>
    {% endif %}
</article>
