<article class="blog-post">
    <header class="blog-header">
        <h2>
            Page Subtitle <small>by <a href="#">John Doe</a>, 12 Sep 2012.</small>
        </h2>
    </header>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Nullam eget suscipit turpis. Suspendisse nec magna et velit elementum vulputate. Suspendisse ac nibh lectus, at sollicitudin turpis. Aenean ut tortor a felis consectetur pulvinar. Phasellus mattis viverra luctus. Pellentesque tempor bibendum arcu non vestibulum. In bibendum mattis nibh, nec laoreet enim pretium a. Donec augue sem, convallis euismod pellentesque non, facilisis non nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis blandit cursus mi, malesuada euismod enim accumsan nec. Pellentesque nisl enim, elementum non molestie eu, lobortis sed odio. Mauris vehicula commodo neque, nec viverra libero accumsan in.
    </p>
    <div class="row-fluid">
        <div class="span6">
            <p>
                Vestibulum et dapibus orci. Vivamus non elit sed quam egestas egestas. Donec interdum ultrices ante ac pharetra. Praesent euismod augue erat, vel ornare sem. Morbi ante nisl, fringilla at commodo vitae, cursus aliquet lacus. Maecenas nec orci at est venenatis congue vitae eget justo. Aenean dui odio, eleifend sed viverra et, eleifend vitae tortor. Duis ac diam vitae risus aliquam tempor. Phasellus volutpat, metus porttitor ornare gravida, erat lacus bibendum lectus, et dictum tortor ligula a est. Proin id purus eget mi vestibulum accumsan. Nam scelerisque malesuada tellus vel laoreet. Vestibulum eleifend, risus ut faucibus iaculis, tellus lacus laoreet tellus, eget placerat tellus leo in magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sollicitudin blandit orci, at egestas tortor consectetur eu.
            </p>
            <p>
                Integer quam tellus, aliquet quis luctus id, porttitor eget eros. Fusce tempus metus metus.Phasellus sed massa eu turpis imperdiet cursus.  Nunc euismod gravida condimentum. Duis rhoncus convallis mauris at congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque malesuada tellus vel laoreet. Vestibulum eleifend, risus ut faucibus iaculis, tellus lacus laoreet tellus, eget placerat tellus leo in magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sollicitudin blandit orci, at egestas tortor consectetur eu.
            </p>
            <p>
                In t purus, blandit eget pulvinar ac, lobortis vel ligula. Etiam arcu risus, auctor ut placerat lacinia, volutpat quis enim. Duis porta porta gravida Aliquam pretium ante vel lectus rutrum bibendum. Quisque tempor dolor vitae metus ultrices eget egestas orci tristique. Maecenas bendum elementum justo dapibus pretium. Praesent aliquam elit non tortor luctus egestas.
            </p>
        </div>
        <div class="span6">
            <img src="img/assets/nightlife6-600x700.jpeg" alt="">
        </div>
    </div>

    <p>
        Quisque diam libero, aliquam eget blandit et, vulputate vel felis. Quisque ut purus at justo mattis volutpat. Curabitur nibh neque, sodales feugiat suscipit vel, vulputate nec quam. Sed quam nulla, sollicitudin non pulvinar in, viverra ac nunc. Maecenas a neque quis mauris vehicula viverra eu eget elit. Suspendisse potenti. Donec tincidunt sollicitudin elementum. Nunc volutpat purus ac lectus tincidunt et bibendum quam sollicitudin. Pellentesque rutrum ultricies porttitor. Suspendisse pellentesque rutrum mollis. Integer varius nulla quis metus varius imperdiet.
    </p>
    <p>
        Vivamus nulla lectus, scelerisque eget elementum at, malesuada quis leo. Pellentesque ac odio magna, eu dapibus erat. Sed placerat lacinia justo, at suscipit tortor mollis ut. Morbi vitae nulla felis. Maecenas mollis egestas feugiat. Integer porttitor tincidunt enim sit amet pellentesque. Fusce faucibus suscipit iaculis. Pellentesque fringilla accumsan massa, vitae tincidunt nulla malesuada sit amet. Mauris hendrerit tincidunt egestas. Vestibulum consectetur porta est id consequat. In lacinia condimentum ligula, at consequat turpis auctor vitae. Morbi vitae tortor sit amet velit rutrum viverra non eget lectus. Ut elementum metus in felis luctus pellentesque.
    </p>
    <p>
        Phasellus sed massa eu turpis imperdiet cursus. Nunc euismod gravida condimentum. Duis rhoncus convallis mauris at congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit purus, blandit eget pulvinar ac, lobortis vel ligula. Etiam arcu risus, auctor ut placerat lacinia, volutpat quis enim. Duis porta porta gravida. Aliquam pretium ante vel lectus rutrum bibendum. Quisque tempor dolor vitae metus ultrices eget egestas orci tristique. Maecenas bibendum elementum justo dapibus pretium. Praesent aliquam elit non tortor luctus egestas.
    </p>
</article>
