<ul class="thumbnails bordered">
    <li>
        <div class="row-fluid">
            <div class="span2 pull-center">
                <i class=" icon-wrench enormous-icon circled  pull-center"></i>
            </div>
            <div class="span10">
                <h3> Fanatical Support </h3>
                <p>{% lorem 1 p random %}</p>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span2 pull-center">
                <i class="icon-asterisk enormous-icon circled  pull-center"></i>
            </div>
            <div class="span10">
                <h3> Premium Quality </h3>
                <p>{% lorem 1 p random %}</p>
            </div>
        </div>
    </li>
    <li>
        <div class="row-fluid">
            <div class="span2 pull-center">
                <i class=" icon-hand-down enormous-icon circled  pull-center"></i>
            </div>
            <div class="span10">
                <h3> Lowest prices </h3>
                <p>{% lorem 1 p random %}</p>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span2 pull-center">
                <i class="icon-truck enormous-icon circled  pull-center"></i>
            </div>
            <div class="span10">
                <h3> Fast delivery </h3>
                <p>{% lorem 1 p random %}</p>
            </div>
        </div>
    </li>
</ul>
