<section id="promo" class="section alt">
    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <div class="row-fluid">
                        <div class="well pricing-table span3 pull-center">
                            <h3>
                                <span class="blocked">Standard</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 0
                            </h2>
                            <ul class="pricing-table-list">
                                <li>1 project</li>
                                <li>5 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>10 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn btn-primary" >
                                Sign Up
                            </a>
                        </div>
                        <div class="well pricing-table span3 pull-center">
                            <h3>
                                <span class="blocked">Premium</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 29
                            </h2>
                            <ul class="pricing-table-list">
                                <li>5 projects</li>
                                <li>10 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>10 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn btn-primary" >
                                Sign Up
                            </a>
                        </div>
                        <div class="well pricing-table pricing-table-featured span3 pull-center">
                            <h3>
                                <span class="blocked">Professional</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 99
                            </h2>
                            <ul class="pricing-table-list">
                                <li>10 projects</li>
                                <li>50 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>10 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn" >
                                Sign Up
                            </a>
                        </div>
                        <div class="well pricing-table span3 pull-center">
                            <h3>
                                <span class="blocked">Extreme</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 199
                            </h2>
                            <ul class="pricing-table-list">
                                <li>100 projects</li>
                                <li>500 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>100 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn btn-primary" >
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row-fluid">
                        <div class="well pricing-table span3 pull-center">
                            <h3>
                                <span class="blocked">Standard</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 0
                            </h2>
                            <ul class="pricing-table-list">
                                <li>1 project</li>
                                <li>5 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>10 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn btn-primary" >
                                Sign Up
                            </a>
                        </div>
                        <div class="well pricing-table span3 pull-center pricing-table-featured featured-orange">
                            <h3>
                                <span class="blocked">Premium</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 29
                            </h2>
                            <ul class="pricing-table-list">
                                <li>5 projects</li>
                                <li>10 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>10 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn" >
                                Sign Up
                            </a>
                        </div>
                        <div class="well pricing-table span3 pull-center">
                            <h3>
                                <span class="blocked">Professional</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 99
                            </h2>
                            <ul class="pricing-table-list">
                                <li>10 projects</li>
                                <li>50 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>10 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn btn-primary" >
                                Sign Up
                            </a>
                        </div>
                        <div class="well pricing-table span3 pull-center">
                            <h3>
                                <span class="blocked">Extreme</span>
                            </h3>
                            <h2 class="pricing-table-price">
                                <span>&#36;</span> 199
                            </h2>
                            <ul class="pricing-table-list">
                                <li>100 projects</li>
                                <li>500 GB Storage</li>
                                <li>Unlimited Users</li>
                                <li>100 GB Bandwidth</li>
                            </ul>
                            <a href="#" class="btn btn-primary" >
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</section>
