<a href="#">
    <figure class="thumbnail-figure">
        <img src="{{ STATIC_URL }}smartbiz/img/assets/people1-600x400.jpeg" alt="">
        <figcaption class="thumbnail-title">
            <h3><span>Betty Doe</span></h3>
            <p><span>Managing director</span></p>
        </figcaption>
    </figure>
</a>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
</p>
<div class="row-fluid">
    <div class="span4">
        <h4>Design Skills</h4>
    </div>
    <div class="span8">
        <div class="progress progress-striped">
            <div class="bar" style="width: 75%;"></div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <h4>Coding Skills</h4>
    </div>
    <div class="span8">
        <div class="progress progress-striped">
            <div class="bar" style="width: 80%;"></div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <h4>Social Skills</h4>
    </div>
    <div class="span8">
        <div class="progress progress-striped">
            <div class="bar" style="width: 30%;"></div>
        </div>
    </div>
</div>
