<section id="content" class="section" role="main">
    <div class="container">
        <div class="page-header">
            <h1>
                Meet the team <small>We make the things that make technology work!</small>
            </h1>
        </div>
        <ul class="thumbnails bordered thumbnail-list">
            <li class="span4">
                {% include "web/elements/employee_overview.html" %}
            </li>
            <li class="span4">
                {% include "web/elements/employee_overview.html" %}
            </li>
            <li class="span4">
                {% include "web/elements/employee_overview.html" %}
            </li>
        </ul>
    </div>
</section>
