{% load webdesign web_extras %}

<section id="promo" class="section alt">
    <div class="container">
        <div class="hero-unit">
            <h1>{{ hero_title }}</h1>
            {% if hero_paragraph %}<p>{{ hero_paragraph }}</p>{% endif %}
        </div>
        {% if hero_units %}
        <div class="row-fluid">
            {% for hero_unit in hero_units %}
            <div class="well span3 pull-center">
                <h3>
                    <i class="{% random_icon %} huge-icon"></i>
                    <span class="blocked">{% lorem 1 w random %}</span>
                </h3>
                <p>{% lorem 3 w random %}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
