{% load webdesign %}
{% load web_extras %}
<ul class="thumbnails bordered">
    <li class="span6">
        {% for item in items %}
        <div class="row-fluid">
            <div class="span4 pull-center">
                <i class="{% random_icon "corp" %} enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
                <h3> {% lorem 2 w random %} </h3>
                {% lorem 1 p random %}
            </div>
        </div>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </li>
    <li class="span6">
        {% for item in items %}
        <div class="row-fluid">
            <div class="span4 pull-center">
                <i class="{% random_icon "corp" %} enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
                <h3> {% lorem 2 w random %} </h3>
                {% lorem 1 p random %}
            </div>
        </div>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </li>
</ul>
