    <div class="page-header">
        <h1>
            Our Clients <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
        </h1>
    </div>
    <div class="row-fluid">
        <ul class="thumbnails bordered pull-center">
            <li class="span2">
                <img src="{{ STATIC_URL }}kicktheme/img/assets/adobe.png" alt="">
                <h3>Adobe</h3>
            </li>
            <li class="span2">
                <img src="{{ STATIC_URL }}kicktheme/img/assets/apple.png" alt="">
                <h3>Apple</h3>
            </li>
            <li class="span2">
                <img src="{{ STATIC_URL }}kicktheme/img/assets/gnome.png" alt="">
                <h3>Gnome</h3>
            </li>
            <li class="span2">
                <img src="{{ STATIC_URL }}kicktheme/img/assets/wordpress.png" alt="">
                <h3>Wordpress</h3>
            </li>
            <li class="span2">
                <img src="{{ STATIC_URL }}kicktheme/img/assets/html5.png" alt="">
                <h3>Html5</h3>
            </li>
            <li class="span2">
                <img src="{{ STATIC_URL }}kicktheme/img/assets/twitter.png" alt="">
                <h3>twitter</h3>
            </li>
        </ul>
    </div>
