    <!-- Page Footer -->
    <footer  id="footer" role="contentinfo" class="section">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <h3>Contact us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <ul class="icons">
                        <li>
                            <i class="icon-envelope"></i><a href="mailto:dave@davegandy.com">John Doe</a>
                        </li>
                        <li>
                            <i class="icon-twitter"></i><a href="http://twitter.com/oxygenna/" target="_blank">@FortAweso_me</a>
                        </li>
                        <li>
                            <i class="icon-facebook"></i><a href="http://kyruus.com" target="_blank">oxygenna</a>
                        </li>
                    </ul>
                </div>
                <div class="span4">
                    <h3>Recent news</h3>
                    <ul class="icons">
                        <li><p>
                            <i class="icon-twitter"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <small>
                                by <a href="#">oxygenna.com</a>
                            </small>
                        </p>
                        </li>
                        <li><p>
                            <i class="icon-twitter"></i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            <small>
                                by <a href="#">oxygenna.com</a>
                            </small>
                        </p>
                        </li>
                    </ul>
                </div>
                <div class="span4">
                    <h3>Latest posts</h3>
                    <ul class="unstyled">
                        <li>
                            <h4><a href="#">A responsive business theme</a></h4>
                            <p><small>November 12, 2012</small></p>
                        </li>
                        <li>
                            <h4><a href="#">Designed for big and small screens</a></h4>
                            <p><small>August 23, 2012</small></p>
                        </li>
                        <li>
                            <h4><a href="#">Based on bootstrap framework</a></h4>
                            <p><small>July 22, 2011</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
