{% load webdesign %}
<li class="span{{ col_count }} filter-people">
    <!-- filter-city|filter-abstract| -->
    <a href="{% url web:portfolio "sd" %}">
        <figure class="thumbnail-figure">
            <img src="http://lorempixel.com/d/600/400/sports/{{ forloop.revcounter }}" alt="">
            <figcaption class="thumbnail-title">
                <h3><span>{% lorem 2 w random %}</span></h3>
                <p><span>{% lorem 3 w random %}</span></p>
            </figcaption>
        </figure>
    </a>
</li>
