{% load compress %}
    <!-- scripts -->
    {% compress js %}
    <script src="{{ STATIC_URL }}kicktheme/js/jquery-1.8.2.min.js"></script>
    <script src="{{ STATIC_URL }}kicktheme/js/bootstrap.min.js"></script>
    {% endcompress %}
    {% if NODEJS_FANOUT %}
        {% compress js %}
    <script src="{{ STATIC_URL }}kicktheme/js/script.js"></script>
    <!--script src="http://localhost:8001/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8001');
        socket.on('socketio_news', function (data) {
            console.log(data);
            //socket.emit('my other event', { my: 'data' });
        });
    </script-->
        {% endcompress %}
    {% endif %}
    <!-- end scripts -->

