{% extends "web/base.html" %}

{% block hero_unit %}
    {% with "Making sure it's done right" as hero_title  %}
        {% include "web/elements/hero_unit.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    <section id="content" class="section" role="main">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    {% include "web/elements/employees_overview.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block sub_content %}
    {% include "web/elements/our_clients_overview.html" %}
{% endblock %}
