{% extends "web/base_rcol.html" %}

{% block title %}Rants, raves and some useful stuff {{ block.super }}{% endblock %}

{% block hero_unit %}
    {% with "Our news" as hero_title %}
        {% include "web/elements/hero_unit.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    {% with "a" as figure %}
    {% with "a" as blog_footer %}
    {% for item in "1234" %}
        {% include "web/elements/blogitem.html" %}
    {% endfor %}
    {% endwith %}
    {% endwith %}
    <ul class="pager">
        <li class="previous">
            <a href="#"><i class=" icon-chevron-left"></i> Older</a>
        </li>
        <li class="next">
            <a href="#">Newer <i class=" icon-chevron-right"></i></a>
        </li>
    </ul>
{% endblock %}

{% block side_content %}
    {% include "web/elements/blognav.html" %}
{% endblock %}

{% block sub_section %}
{% endblock %}
