{% extends "web/base.html" %}

{% block main_content %}
    <section id="promo" class="section alt">
        <div class="container">
            <div class="hero-unit">
                <h1>Our blog</h1>
                <p>Thats a single post page view</p>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <section class="section">
        <div class="container">
            <div class="row-fluid">
                <div class="span9">
                </div>
                <aside class="span3 sidebar">
                </aside>
            </div>
        </div>
    </section>

{% endblock %}


    <!-- Main Content -->
    <section class="section">
        <div class="container">
            <div class="row-fluid">
                <div class="span9">
                    <article class="blog-post">
                        <header class="blog-header">
                            <h2>
                                Lorem ipsum dolor <small>by <a href="#">John Doe</a>, 12 Sep 2012.</small>
                            </h2>
                        </header>
                        <figure class="thumbnail-figure">
                            <a href="post.html">
                                <img src="img/assets/people1-870x400.jpeg" alt="">
                            </a>
                            <figcaption class="thumbnail-title">
                                <h3>
                                    <span>Lorem ipsum dolor sit amet</span>
                                </h3>
                            </figcaption>
                        </figure>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Nullam eget suscipit turpis. Suspendisse nec magna et velit elementum vulputate. Suspendisse ac nibh lectus, at sollicitudin turpis. Aenean ut tortor a felis consectetur pulvinar. Phasellus mattis viverra luctus. Pellentesque tempor bibendum arcu non vestibulum. In bibendum mattis nibh, nec laoreet enim pretium a. Donec augue sem, convallis euismod pellentesque non, facilisis non nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis blandit cursus mi, malesuada euismod enim accumsan nec. Pellentesque nisl enim, elementum non molestie eu, lobortis sed odio. Mauris vehicula commodo neque, nec viverra libero accumsan in.
                        </p>
                        <div class="row-fluid">
                            <p class="span6">
                                Vestibulum et dapibus orci. Vivamus non elit sed quam egestas egestas. Donec interdum ultrices ante ac pharetra. Praesent euismod augue erat, vel ornare sem. Morbi ante nisl, fringilla at commodo vitae, cursus aliquet lacus. Maecenas nec orci at est venenatis congue vitae eget justo. Aenean dui odio, eleifend sed viverra et, eleifend vitae tortor. Duis ac diam vitae risus aliquam tempor. Phasellus volutpat, metus porttitor ornare gravida, erat lacus bibendum lectus, et dictum tortor ligula a est. Proin id purus eget mi vestibulum accumsan. Nam scelerisque malesuada tellus vel laoreet. Vestibulum eleifend, risus ut faucibus iaculis, tellus lacus laoreet tellus, eget placerat tellus leo in magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sollicitudin blandit orci, at egestas tortor consectetur eu. Integer quam tellus, aliquet quis luctus id, porttitor eget eros. Fusce tempus metus metus.
                            </p>
                            <div class="span6">
                                <img src="img/assets/city3-400x400.jpeg" alt="">
                            </div>
                        </div>

                        <p>
                            Quisque diam libero, aliquam eget blandit et, vulputate vel felis. Quisque ut purus at justo mattis volutpat. Curabitur nibh neque, sodales feugiat suscipit vel, vulputate nec quam. Sed quam nulla, sollicitudin non pulvinar in, viverra ac nunc. Maecenas a neque quis mauris vehicula viverra eu eget elit. Suspendisse potenti. Donec tincidunt sollicitudin elementum. Nunc volutpat purus ac lectus tincidunt et bibendum quam sollicitudin. Pellentesque rutrum ultricies porttitor. Suspendisse pellentesque rutrum mollis. Integer varius nulla quis metus varius imperdiet.
                        </p>
                        <footer class="blog-footer row-fluid">
                            <div class="span4 blog-categories">
                                <i class="icon-pushpin"></i> <a href="#"> consectetur</a>
                            </div>
                            <div class="span4 blog-tags">
                                <i class="icon-tags"></i> <a href="#"> fugiat, nulla, pariatur</a>
                            </div>
                            <div class="span4 blog-more">
                                <i class="icon-comments"></i> <a href="#"> 3 comments</a>
                            </div>
                        </footer>
                    </article>

                    <ul class="pager">
                        <li class="previous">
                            <a href="#"><i class=" icon-chevron-left"></i> Some post</a>
                        </li>
                        <li class="next">
                            <a href="#">Some other post <i class=" icon-chevron-right"></i></a>
                        </li>
                    </ul>

                </div>



                <aside class="span3 sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sidebar-header"> Search</h2>
                        <div class="input-append">
                            <input id="appendedInputButton" size="16" type="text"><button class="btn" type="button">Go!</button>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h2 class="sidebar-header">About SmartBiz</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                        </p>
                    </div>
                    <div class="sidebar-widget">
                        <h2 class="sidebar-header">Recent posts</h2>
                        <ul class="unstyled">
                            <li>
                                <h4><a href="#">Lorem ipsum dolor sit</a></h4>
                                <p><small>November 12, 2012</small></p>
                            </li>
                            <li>
                                <h4><a href="#">Ed do eiusmod tempor</a></h4>
                                <p><small>August 23, 2012</small></p>
                            </li>
                            <li>
                                <h4><a href="#">Incididunt ut labore </a></h4>
                                <p><small>June 28, 2011</small></p>
                            </li>
                            <li>
                                <h4><a href="#">Quis nostrud exercitation </a></h4>
                                <p><small>June 25, 2011</small></p>
                            </li>
                            <li>
                                <h4><a href="#">Labore et dolore </a></h4>
                                <p><small>June 22, 2011</small></p>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-widget">
                        <h2 class="sidebar-header">Popular posts</h2>
                        <ul class="unstyled">
                            <li>
                                <h4><a href="#">A responsive business theme</a></h4>
                                <p><small>November 12, 2012</small></p>
                            </li>
                            <li>
                                <h4><a href="#">Designed for big and small screens</a></h4>
                                <p><small>August 23, 2012</small></p>
                            </li>
                            <li>
                                <h4><a href="#">Based on bootstrap framework</a></h4>
                                <p><small>July 22, 2011</small></p>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
