{% extends "web/base.html" %}

{% block title %}Stuff we have made {{ block.super }}{% endblock %}

{% block hero_unit %}
    {% with "Timemachine" as hero_title  %}
        {% include "web/elements/hero_unit.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    <section class="section">
        <div class="container">
            <div class="page-header thumbnail-filters">
                <h1>
                    Filter <small><a href="#" data-filter="all" class="active"> all </a> /
                    <a href="#" data-filter="people">people </a> /
                    <a href="#" data-filter="abstract"> abstract </a> /
                    <a href="#" data-filter="city"> city life</a></small>
                </h1>
            </div>
            <ul class="thumbnails bordered thumbnail-list">
                {% with "4" as col_count %}
                {% for item in "123456789012" %}
                    {% include "web/elements/portfolio_list_item.html" %}
                {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </section>
{% endblock %}

{% block sub_section %}
    <section class="section alt">
        <div class="container">
            <div class="hero-unit pull-center">
                <h1>Got a question?</h1>
                <p>want to work with us to move your bussines to the next level? Well, dont be afraid</p>
                <a href="contact.html" class="btn btn-primary btn-large">contact us</a>
            </div>
        </div>
    </section>
{% endblock %}