{% extends "web/base.html" %}

{% block hero_unit %}
    {% with "Services overview" as hero_title %}
    {% with "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" as hero_paragraph %}
    {% with "1234" as  hero_units %}
        {% include "web/elements/hero_unit.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    <section id="content" class="section" role="main">
        <div class="container">
            <div class="row-fluid">
                <div class="page-header">
                    <h1>
                        Future plans <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
                    </h1>
                </div>
                <div class="row-fluid">
                    {% with "123" as items %}
                        {% include "web/elements/itemlist_2col.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block sub_content %}
    {% include "web/elements/our_clients_overview.html" %}
{% endblock %}
