{% extends "web/base.html" %}

{% block title %}Word of mouth {{ block.super }}{% endblock %}

{% block hero_unit %}
    <section id="promo" class="section alt">
        <div class="container">
            {% include "web/elements/blockquote.html" %}
        </div>
    </section>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row-fluid">
            {% with "True" as bq_small %}
            <div class="page-header">
                <h1>
                    What other client said?
                </h1>
            </div>
            <div class="row-fluid">
                {% include "web/elements/blockquote.html" %}
                {% include "web/elements/blockquote.html" %}
            </div>
            <hr>
            <div class="row-fluid">
                {% include "web/elements/blockquote.html" %}
                {% include "web/elements/blockquote.html" %}
            </div>
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block sub_section %}
{% endblock %}