{% extends "web/base.html" %}

{% block script_header %}
    <script src="/static/jwplayer/jwplayer.js"></script>
    <script>jwplayer.key="9URDGh2ypM9GcoeNOeEBzzaZdiEqRV/h+ILATg=="</script>
{% endblock %}

{% block hero_unit %}
    {% with "Video, where content is king" as hero_title  %}
        {% include "web/elements/hero_unit.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
    <section id="content" class="section" role="main">
        <div class="container">
            <div class="row-fluid">
                <div id='my-video'></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block sub_content %}
    {% include "web/elements/our_clients_overview.html" %}
{% endblock %}

{% block scritp_footer %}
    <script type='text/javascript'>
        jwplayer('my-video').setup({

            width: '480',
            height: '270',
            playlist: [{
                image: "/uploads/myPoster.jpg",
                sources: [{
                    file: 'http://bigben.medizza.com/ruv/hi/android.m3u8'
                    //file: 'http://bigben.medizza.com/stod2live/prog_index.m3u8'
                }]
            }]
        });

    </script>
    </script>
{% endblock  %}