django

#
# Debugging and development tools
#
django-devserver        #for complete debugging
django-debug-toolbar    #in-page-debugging
django-extensions       #plethora of goodies
raven                   #sentry client for exception logging
django-appconf          #App config
django-waffle           #Feature flipping
gunicorn                #Multithreaded development server and then some
#dogslow                #Performance watchdog

docutils                #For Django Documentation - http://docutils.sourceforge.net/
pygments                #Documentation

#
# API
#
djangorestframework
markdown                # Markdown support for the browseable API.
pyyaml                  # YAML content-type support.
django-filter           # Filtering support

#
# Infrastructure
#
#SQLAlchemy              #Optional ORM for heavy lifting
http://sourceforge.net/projects/sqlalchemy/files/latest/download?source=dlp#egg=sqlalchemy -vvv
lxml                    #XML manipulation
django-redis-sessions   #Redis session backend
django-crispy-forms     #Better forms handling and bootstrap support
easy-thumbnails         #Thumbnail creation and management
requests                #HTTP communications library
django-celery           #Deffered/Scheduled tasks
pysolr                  #Solr communication
sunburnt                #Solr communication (new)
django-guardian         #Granular entity permissions
django-compressor       #Preprocess CSS, LESS and js for fastest delivery

#
# Applications
#
django-userena          #Local user registration and management


# Admin
django-grappelli        #Admin UI replacement
django-filebrowser      #Admin filebrowser

#
# Caching
#
django-redis            #Redis caching
dogpile.cache           #