django

#
# Debugging and development tools
#
django-devserver        #for complete debugging
django-debug-toolbar    #in-page-debugging
django-extensions       #plethora of goodies
raven                   #sentry client for exception logging
django-appconf          #App config
django-waffle           #Feature flipping
django-tastypie         #REST API
gunicorn                #Multithreaded development server and then some
#dogslow                 #Performance watchdog

docutils                #For Django Documentation - http://docutils.sourceforge.net/
pygments                #Documentation

#
# Infrastructure
#
SQLAlchemy              #Optional ORM for heavy lifting
lxml                    #XML manipulation
django-redis-sessions   #Redis session backend
django-crispy-forms     #Better forms handling and bootstrap support
easy-thumbnails         #Thumbnail creation and management
requests                #HTTP communications library
django-celery           #Deffered/Scheduled tasks
pysolr                  #Solr communication
django-guardian         #Granular entity permissions

#
# Applications
#
django-userena          #Local user registration and management


# Admin
django-grappelli        #Admin UI replacement
django-filebrowser      #Admin filebrowser

#
# Caching
#
django-redis            #Redis caching
dogpile.cache           #